extends layout

block content
    main.home
        .jumbotron.jumbotron-fluid.clearfix
            .container
                h1.display-4 BE CREATIVE, LEAVE THE HARD FOR US
                p.lead Choose one of our membership plans and manage you E-mail campaigns with our platform
                a.btn.btn-secondary-outline.btn-lg(href='/register') Get Started for FREE


