extends layout

block content
    main.profile.container.clearfix
        .row
            .col-md-12
              h1.display-4
                img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar')
                | #{name}
              h2.favorite-book Favorite Book
              | #{favorite}
              br
              form(method="post" action="/profile/delete")
                  input.btn.btn-danger(type="submit" value="Delete")