@mixin btn($color) {
    background: none;
    font-size: 1.2rem;
    color: $color;
    padding: 10px 15px;
    margin: .5rem .5rem;
    border: 1px solid $color;
    line-height: 1;
    transition: .2s all ease-in-out;
    &:hover {
        transform: scale(1.1);
        text-decoration: none;
    }
}