//  Color variables

$white              : #fff;
$black              : #000;
$night-rider        : #333;
$white-smoke        : #eee;
$green              : #006004;
$maroon             : #680800;




// Media queries

$landscape          : '(orientation: landscape)';
$portrait           : '(orientation: portrait)';
$screen-sm          : '(min-width: 768px)';
$screen-md          : '(min-width: 1024px)';
$screen-lg          : '(min-width: 1200px)';
