#dc-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparentize($black ,.3);
    z-index: 9999;
    #dc-modal {
        max-width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $white-smoke;
        padding: 1rem 1rem;
        #dc-modal-inner {
            min-height: 150px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            .dc-warning-message {
                line-height: 1.2;
                flex-basis: 100%;
                text-rendering: optimizeLegibility;
            }
            .dc-button-proceed {
                @include btn($green);
            }
            .dc-button-cancel {
                @include btn($maroon);
                margin-left: auto;
            }
            .dc-button-close {
                position: absolute;
                top: 0;
                right: 0;
                padding: .5rem;
                font-size: 1.5rem;
                line-height: 1;
                color: $night-rider;
                transition: .5s all ease-in-out;
                &:hover {
                    transform: scale(1.3);
                    text-decoration: none;
                }
            }
        }
    }
}